<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<meta http-equiv = "X-UA-Compatible" content = "ie-edge">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<link rel="stylesheet" href="assets/css/login.css">
		<link rel="icon" type="image/png" href="FAVI.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title> LOGIN TO ETHINKSITE</title>
	</head>
	<body>
		<form method = "post" action = "/login">
			<div class= "title"> 
				<h2>LOGIN IN</h2>
				<div class="separator">WEB PORTAL</div>
			</div>
			<p>
				<label>Email </label>
				<div class = "input-container">
					<span><i class="fa fa-envelope icon"></i></span>
					<input type = "text" id = "email" name = "email" required >
				</div>
			</p>
			<p>
				<label>Password </label>
				<div class = "password-container">
					<span><i class="fa fa-lock icon"></i></span>
					<input type = "password" id = "password" name = "password" required>
				</div>
			</p>
				<br> <br>
			<button type = "submit"> LOGIN <span><i class="fa fa-sign-in"></i></span></button>
		</form>
	</body>
</html>


